:root{
    --primary-color: #c0bebe;
    --border-color: #ddd;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */
}

a{
    text-decoration: none;
    color: black;
}

.main-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: 3fr;
    gap: 15px;
    background-color: var(--primary-color);
}

.top-header{
    min-width: 1024px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
    
}

.title{
    /* font-family: 'Montserrat', sans-serif; */
    
    font-size: 32px;
    padding: 15px 10px;
    
}

.main-nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 25px;
    text-transform: uppercase;
}

.img-capa-bg{
    border: 2px solid #ddd;
}

.img-sumario-bg{
    max-width: 516px;
    height: 804px;
    
}

.footer{
    height: 50px;
    border-top: 2px solid #ddd;
    color: #ddd;
    /* font-size: 1.2rem; */
}

