:root{
    --primary-color: #c0bebe;
    --secondary-color: #dddddd;
    --tertiary-color: rgba(70, 69, 69, 0.356);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */
}

a{
    text-decoration: none;
    color: var(--secondary-color);
    text-shadow: 1px 2px 1px var(--tertiary-color);
}

.main-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-rows: 3fr;
    gap: 15px;
    background-color: var(--primary-color);
}

.header{
    height: 100px;
}

.top-header{
    min-width: 1024px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid var(--secondary-color);
    
}

.main-title{
    display: flex;
    align-items: center;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-shadow: 1px 2px 1px var(--tertiary-color);
}   


.main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: var(--secondary-color);
}

.nav{
    padding: 8px;
    transition: background 0.7s ease-in-out;
    border-radius: 8px;
}

.nav:hover{
    background-color: var(--tertiary-color);
}

.img-capa-bg{
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}







/* estilo da pagina projeto */

.section-content{
    width: 516px;
    height: 778px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.sub-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--secondary-color);
    text-shadow: 1px 2px 1px var(--tertiary-color);
}


.paragraph{
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    line-height: 25px;
    text-align: justify;
    color: #5e5656;
}

.project-bg{
    align-content: center;
}






/* inicio do estilo do sumario */

.sumario-bg{
    max-width: 516px;
    height: 804px;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Open Sans', sans-serif;
    background-color: #5e5656;
}

.chapter{

}

.card{
    width: 516px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
}


.paragraph-edit{
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    line-height: 25px;
    text-align: center;
    color: #5e5656;
}

.helena{
    font-family: 'OpenSans', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #5e5656;
}




/* estilo da pagina contato */





.footer{
    height: 50px;
    /* border-top: 2px solid var(--secondary-color); */
    color: var(--tertiary-color);
}

.text-footer{
    font-family: 'Open Sans', sans-serif;
}

