*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.root{
    
}

a{
    text-decoration: none;
}

body{
    background-color: aquamarine;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container{
    min-width: 320px;
    min-height: 100vh;
    background-color: blanchedalmond;
    display: grid;
    align-items: center;
    justify-content: center;
}

.title{
    background-color: #ddd ;
    height: 140px;
    width: 320px;
    font-size: 60px;
}